@model IEnumerable<Xpedia.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Yarat", "Create",null,new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Başlıq
        </th>
        <th>
            Haqqında
        </th>
        <th>
            Ünvan
        </th>
        <th>
            Əlaqə nömrəsi
        </th>
        <th>
            E-poçt
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Yenilə", "Edit", new { id=item.ID },new {@class="btn btn-info" }) |
       
            @Html.ActionLink("Sil", "Delete", new { id=item.ID }, new { @class = "btn btn-outline-primary" })
        </td>
    </tr>
}

</table>
