@model Xpedia.Models.AboutStory

@{
    ViewBag.Title = "Sil";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}


<h3>Silmək istədiyinizdən əminsinizmi ?</h3>
<div>
    <h4>About Story</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        Başlıq
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
          Haqqında
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
           Şəkil
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            İmza
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Geriyə qayıt", "Index" , null , new {@class="btn btn-primary" })
        </div>
    }
</div>
